@model List<Product>
@{
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
    ViewData["Title"] = "Products";
}

<div class="hero">
    <div class="content h-75 container-custom position-relative mt-3">
        <div class="container">
            <h1 class="text-white text-center mt-5">PRODUCTS</h1>
            <div class="row">
                <div class="col align-items-end text-end my-4 ">
                    <a class="btn btn-outline-success navbar-toggler justify-content-end" asp-area="" asp-controller="Product" asp-action="Index">
                        <i class="bi bi-patch-plus"> Add Product</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">

            <table class="table-responsive mt-3 table-bordered" style="overflow-x auto;">
                <thead class="thead-table text-white text-center">
                    <tr>
                        <th>CreatAt</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @if ( Model.Count == 0 )
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Products found!</td>
                        </tr>

                    }
                    else
                    {
                        @foreach ( var item in Model )
                        {
                            <tr>

                                <td>@item.CreatedAt</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <div class="btn-group">
                                        <a class=" px-2 py-1 btn btn-outline-warning mx-1" asp-action="Edit" asp-route-id="">
                                            <i class="bi bi-edit ms-1 mt-1"></i>
                                        </a>

                                        <a class=" px-2 py-1 btn btn-outline-danger mx-1" asp-action="Delete" asp-route-id="">
                                            <i class="bi bi-trash m-1"></i>
                                        </a>
                                        <a class=" px-2 py-1 btn btn-outline-info mx-1" asp-action="Details" asp-route-id="">
                                            <i class="bi bi-three-dots m-1"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

